<div class="login-wrapper">
    <form class="login" (submit)="onSubmit()">
        <label class="title">
          <h3 class="welcome">Welcome to</h3>
          Hee's Real Estate
          <h5 class="hint">Use your email to sign in or create one now</h5>
      </label>
        <div class="login-group">
            <input class="username" type="text" id="login_username" [(ngModel)]="login_username" name="login_username" placeholder="Email">
            <input class="password" type="password" id="login_password" [(ngModel)]="login_password" name="login_password" placeholder="Password">
            <div class="checkbox">
                <input type="checkbox" id="rememberme">
                <label for="rememberme">
                  Remember me
              </label>
            </div>
            <div class="error inactive">
                Invalid user name or password
            </div>
            <button type="submit" class="btn btn-primary">LOG IN</button>
            <a href="javascript://" class="signup">Sign up</a>
        </div>
    </form>
</div>