<div class="alert alert-app-level alert-warning" style="margin-bottom:24px">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
            </div>
            <div class="alert-text">
                Page not found : There is nothing...
            </div>
            <div class="alert-actions">
                <button class="btn alert-action">Go home</button>
            </div>
        </div>
    </div>
    <button type="button" class="close" aria-label="Close">
      <clr-icon aria-hidden="true" shape="close"></clr-icon>
  </button>
</div>